//sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#545c64;         // 控制一级菜单的背景色
$menuHover:#424a52;      // 控制一级菜单选中的颜色

$subMenuBg:#545c64;      // 控制子菜单的背景色
$subMenuHover:#424a52;   // 控制子菜单选中的颜色

$sideBarWidth: 210px;

$indexBackgroundColor: #ffffff;  //设置index页面的背景色

$navBarWidth: 50px;

$indexPictureUrl: "../assets/index.jpeg";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  indexBackgroundColor: $indexBackgroundColor;
  navBarWidth: $navBarWidth;
  indexPictureUrl: $indexPictureUrl;
}
